<ion-view title="Schedule Taxi">
     <ion-content>
         <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    Route
                </div>
                    <select>
                        <option>Pretoria - Jo'burg</option>
                        <option selected>Sandton - Randburg</option>
                        <option>Randburg - Rosebank</option>
                        <option>Soweto - Southgate</option>
                    </select>
            </label>
        <div class="item item-input-inset">
            <label class="item-input-wrapper">
                <input type="text" placeholder="Taxi">
            </label>
            <button class="button button-small">
                Submit
            </button>
         </div>
             <div class="item item-button-right">
                <p>RRT 345 GP</p>
                <button class="button button-assertive">
                    <i class="icon ion-close-circled"></i>
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>